<h1 mat-dialog-title>Survey</h1>
<div mat-dialog-content>
	<p>Survey id: {{data.id}}</p>

	<form [formGroup]="formGroup">
		{{formGroup.value | json}}
		<mat-horizontal-stepper>
			<div *ngFor="let question of data.questions;let i=index;">
				<div *ngIf="isMinMax(question)">
					<mat-step formGroupName="minMax">
						<ng-template matStepLabel>{{i+1}}</ng-template>
						<min-max-component [group]="minMax" [question]="question"></min-max-component>
					</mat-step>
				</div>
				<div *ngIf="isMultipleChoice(question)">
					<mat-step formGroupName="multipleChoice">
						<ng-template matStepLabel>{{i+1}}</ng-template>
						<multiple-choice-component [group]="multipleChoice" [question]="question">
						</multiple-choice-component>
					</mat-step>
				</div>
			</div>
		</mat-horizontal-stepper>
	</form>



	<!-- <div *ngFor="let question of data.questions">
		<min-max-component *ngIf="isMinMax(question)" [data]="question"></min-max-component>
		<multiple-choice-component *ngIf="isMultipleChoice(question)" [data]="question"></multiple-choice-component>
	</div> -->
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onClose()">Close</button>
</div>